obj/Debug/net10.0/Develop05.AssemblyInfo.cs
obj/Debug/net10.0/Develop05.AssemblyInfo.cs
obj/Debug/net10.0/Develop05.AssemblyInfo.cs
obj/Debug/net10.0/Develop05.AssemblyInfoInputs.cache
obj/Debug/net10.0/Develop05.assets.cache
obj/Debug/net10.0/Develop05.GeneratedMSBuildEditorConfig.editorconfig
